---
layout: default
title: 네트워크 언저리
---
<ul id="post-list">
  {% for post in paginator.posts %}
    <li>
      <div class="title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
      <div class="meta">
        <span class="date">{{ post.date | date: "%Y-%m-%d" }}</span>
	{% include post_labels.html labels=post.categories class="categories" %}
	{% include post_labels.html labels=post.tags class="tags" %}
      </div>
    </li>
{% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo;</a>
  {% else %}
    <span>&laquo;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span id="current-page">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ site.baseurl | append: '/' | replace: '//', '/' }}">1</a>
    {% else %}
      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&raquo;</a>
  {% else %}
    <span>&raquo;</span>
  {% endif %}
</div>
{% endif %}
