---
---

@import "{{ site.theme }}";

section { margin-top: 0; }

section #title { margin-bottom: 30px; }

blockquote { font-style: normal; }

code {
  margin: 0;
  padding: 3px;
  font-size: 90%;
}

.meta {
  margin: 5px 0;
  font-size: small;
}

.post {
  margin-bottom: 10px;
}

.post-label {
  display: inline-block;
  margin-left: 10px;
  padding: 5px 0 5px 25px;
}

.post-categories {
  background: url(/assets/img/category.png) left no-repeat;
}

.post-tags {
  background: url(/assets/img/tag.png) left no-repeat;
}

.post-label a {
  background: #333;
  transition: background .2s;
  padding: .3em .8em;
  border-radius: 3px;
}

.post-label a:hover {
  background: #444;
}

@media print, screen and (max-width: 720px) {
  .post-label {
    display: block;
    margin-left: 0;
  }
}

.credits img { opacity: .6; }

#post-list .title { font-weight: bold }
#post-list .title > a { display: block; }

#post-list li { opacity: .9; transition: opacity .5s; }
#post-list li:hover { opacity: 1; }
#post-list li .meta { opacity: .5; transition: opacity .5s; }
#post-list li:hover .meta { opacity: 1; }

.pagination {
  text-align: center;
  padding: .5em;
}
.pagination > * { padding: 0 .5em; }
.pagination #current-page { font-weight: bold; }
.pagination { opacity: .5; transition: opacity .5s }
.pagination:hover { opacity: 1; }

#archives .archive-group { opacity: .7; }
#archives .archive-group:target { opacity: 1; }
#archives .archive-group:target h3 { font-weight: bold; }
