---
---

@import "{{ site.theme }}";

section { margin-top: 0; }

.post-tags {
  padding-left: 25px;
  background: url(/assets/img/tag.png) left no-repeat;
}

.post-tags a {
  background: #444;
  padding: .3em .8em;
  border-radius: 3px;
}
